 <app-loading [isLoading]="(loadingService.loading$ | async) ?? false"></app-loading>
 <!-- Error Messages Section -->
 <div *ngIf="errorMessages.length" class="p-4 mb-4 text-red-700 bg-red-100 rounded-lg">
  <p *ngFor="let message of errorMessages">
    {{ message }}
  </p>
</div>
<div *ngIf="department" class="p-8 max-w-xl mx-auto bg-gray-50 shadow-lg rounded-lg">
    <h1 class="text-2xl font-extrabold text-indigo-600 mb-6 text-center">Department Details</h1>
    
    <div class="mb-6">
      <p class="text-lg font-semibold text-gray-700">
        <span class="block text-sm font-medium text-indigo-500">Department ID</span>
        {{ department.id }}
      </p>
    </div>
    <div class="mb-4">
      <p class="text-lg font-semibold text-gray-700">
        <span class="block text-sm font-medium text-indigo-500">Department Name</span>
        {{ department.name }}
      </p>
    </div>
  

    
    <!-- Displaying Employees List -->
    <div *ngIf="department.employees && department.employees.length > 0" class="mt-8">
        <h2 class="text-xl font-semibold text-indigo-600 mb-4">Employees</h2>
        <ul class="mt-4">
          <li *ngFor="let employee of department.employees" class="mt-2 text-gray-500">
            <a [routerLink]="['/employees/details', employee.id]">{{ employee.name }}</a>
            <hr/>
        </li>
        </ul>
      </div>
    
    <div *ngIf="department.employees.length === 0" class="text-center mt-4 text-gray-500">
      <p>No employees in this department....</p>
    </div>

    <div class="flex justify-center mt-6">
      <button
        (click)="router.navigate(['/departments'])"
        class="px-6 py-3 bg-indigo-600 hover:bg-indigo-700 text-white font-medium rounded-lg shadow-md transition duration-200">
        Departments List
      </button>
    </div>
</div>

