<app-loading [isLoading]="(loadingService.loading$ | async) ?? false"></app-loading>
<!-- Error Message Section -->
<div *ngIf="errorMessages.length" class="p-4 mb-4 text-red-700 bg-red-100 rounded-lg " >
  <p *ngFor="let message of errorMessages">
    - {{ message }}
  </p>
</div>

<div *ngIf="employee" class="mb-4">
    <h2 class="text-xl font-bold mb-2">Edit Employee</h2>
    <form (ngSubmit)="onUpdateEmployee()" class="space-y-4">
      
      <!-- Name Field -->
      <div class="flex flex-col">
        <label for="name" class="text-sm font-medium text-gray-700">Name</label>
        <input 
          id="name"
          [(ngModel)]="employee.name"
          name="name"
          type="text"
          class="px-4 py-2 border border-gray-300 rounded-md"
          required />
      </div>
  
      <!-- SSN Field -->
      <div class="flex flex-col">
        <label for="ssn" class="text-sm font-medium text-gray-700">SSN</label>
        <input 
          id="ssn"
          [(ngModel)]="employee.ssn"
          name="ssn"
          type="text"
          class="px-4 py-2 border border-gray-300 rounded-md"
          required />
      </div>
  
      <!-- Salary Field -->
      <div class="flex flex-col">
        <label for="salary" class="text-sm font-medium text-gray-700">Salary</label>
        <input 
          id="salary"
          [(ngModel)]="employee.salary"
          name="salary"
          type="number"
          class="px-4 py-2 border border-gray-300 rounded-md"
          required />
      </div>
  
      
      <!-- Department ID Field -->
      <div class="flex flex-col">
        <label for="departmentId" class="text-sm font-medium text-gray-700">Department</label>
        <select 
          id="departmentId"
          [(ngModel)]="employee.departmentId"
          name="departmentId"
          class="px-4 py-2 border border-gray-300 rounded-md"
          required>
          <option value="0" disabled>Select a Department</option>
          <option *ngFor="let department of departments" [value]="department.id">
            {{ department.name }}
          </option>
        </select>
      </div>
  
      <!-- Update Button -->
      <button 
        type="submit"
        class="w-full px-4 py-2 bg-green-500 hover:bg-green-700 text-white rounded-md"
        [disabled]="!employee">  <!-- Disable button if employee data is not loaded -->
        Update Employee
      </button>
    </form>
  </div>
  <div class="flex">
    <button
      (click)="router.navigate(['/employees'])"
      class="px-6 py-3 bg-indigo-600 hover:bg-indigo-700 text-white font-medium rounded-lg shadow-md transition duration-200">
      Back to List
    </button>
  </div>
